/* Setting Up
======================*/
@import url(fonts.css);

html {
    font-family: "ClashDisplay", sans-serif;
    background-color: #0d1015;
    font-size: 16px; 
}

body {
    margin: 0; /* removing margins in body */
}

/* Colours 
======================*/
#colours {
    color: #0d1015;
    color: #f8b031;
}

hr {
    display: block; 
    border: 0.1px solid #f8b031; 
    width: 93vw; 
    margin: 20px 0;
}

/* Header on 
======================*/

.header {
    color:#f8b031;
    font-size: 5rem;
    position: relative;
    margin: 0.3em;
    border: 1px solid #f8b031;
    padding: 35px;
}

.header .name {
    font-size: 0.8em;
    display: flex;
    flex-wrap: nowrap;
    line-height: 0.85em;
    margin: 0;
}

.header .title {
    align-items: flex-end;
    margin: 0;
    font-size: 0.6em;
    line-height: 0.6em;
}

/* Navigation 
======================*/

.nav {
    max-width: 100%;
    margin: 1.2em;
}

.nav ul {
    list-style-type: none;
    color:#f8b031;
    display: flex;
    min-width: 20vw; 
    justify-content: left;
    border: 1px solid #f8b031;
    padding: 0.3em;
    margin: 0.3em;
}

.nav li {
    margin: 0px 2em;
}

#nav-name {
    max-width: 10px;
    margin-right: 3em;
}

/* Content 
*/
.content {
    color:#f8b031;
    font-size: 5rem;
    position: absolute;
    left: 0.3em;
}

#greeting {
    font-size: 0.4em;
}

.intro {
    font-size: 0.6em;
    margin-top: -0.5em;
    margin-bottom: -0.1em;
}

.job:hover {
    text-decoration-line: underline;
    background-color: #f8b031;
    color: #0d1015;
    cursor: alias;
}